In [4]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import datetime

import os

# DB 연결

In [8]:
host_url = "db.ds.mycelebs.com"
user_nm = "wlsgml9975"
passwd = "mycelebs2021!"
port_num = 3306
db_name = "staypia"

engine = create_engine(f'mysql+pymysql://{user_nm}:{passwd}@{host_url}:{port_num}/{db_name}?charset=utf8mb4')
engine_conn = engine.connect()
print("DB connect success!")

DB connect success!

# 구글 키워드 업데이트

In [5]:
Desktop = os.path.dirname(os.getcwd())
Desktop

'/Users/mycelebs_28/Desktop'

In [11]:
ggkw_path=Desktop+"/staypia_city_데이터수집/result/google_keywords_crawling.xlsx"
ggkw_df = pd.read_excel(ggkw_path)
del ggkw_df['Unnamed: 0']
ggkw_df

,ci_code,keywords,words_length,regist_date
0,30007,"bahrain travel restrictions, travel ban in bah...",8.0,2021-10-04 17:57:09
1,14554,"cook islands travel restrictions, how to get t...",8.0,2021-10-04 17:57:09
2,248691,NaN,NaN,2021-10-04 17:57:09
3,311942,"san pedro la laguna guatemala, san pedro la la...",8.0,2021-10-04 17:57:09
4,158677,"retalhuleu guatemala, retalhuleu guatemala wat...",8.0,2021-10-04 17:57:09
...,...,...,...,...
5962,251274,"blanchisseuse beach house for rent, blanchisse...",8.0,2021-10-04 17:57:09
5963,127952,NaN,NaN,2021-10-04 17:57:09
5964,86100,"hinatuan enchanted river, hinatuan enchanted r...",8.0,2021-10-04 17:57:09
5965,64398,NaN,NaN,2021-10-04 17:57:09
5966,459419,NaN,NaN,2021-10-04 17:57:09

In [9]:
ggkw_df["regist_date"] = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
ggkw_df

,ci_code,keywords,words_length,regist_date
0,30007,"bahrain travel restrictions, travel ban in bah...",8.0,2021-10-05 17:17:19
1,14554,"cook islands travel restrictions, how to get t...",8.0,2021-10-05 17:17:19
2,248691,NaN,NaN,2021-10-05 17:17:19
3,311942,"san pedro la laguna guatemala, san pedro la la...",8.0,2021-10-05 17:17:19
4,158677,"retalhuleu guatemala, retalhuleu guatemala wat...",8.0,2021-10-05 17:17:19
...,...,...,...,...
5962,251274,"blanchisseuse beach house for rent, blanchisse...",8.0,2021-10-05 17:17:19
5963,127952,NaN,NaN,2021-10-05 17:17:19
5964,86100,"hinatuan enchanted river, hinatuan enchanted r...",8.0,2021-10-05 17:17:19
5965,64398,NaN,NaN,2021-10-05 17:17:19
5966,459419,NaN,NaN,2021-10-05 17:17:19

In [19]:
# related_keyword_module 테이블
ggkw_df.to_sql("related_keyword_module", engine_conn, if_exists='append', index=None)

# youtube 업데이트

In [12]:
youtube_path=Desktop+"/staypia_city_데이터수집/result/youtube_crawling.xlsx"
youtube_df = pd.read_excel(youtube_path)
del youtube_df['Unnamed: 0']
youtube_df

,ci_code,cd_idx,cd_country,cd_name,link,title,text,image,name,duration,regdate_ment,viewCount
0,30007,1206763,bh,Manama,https://www.youtube.com/watch?v=Fyy4dwGHf8o,BAHRAIN Is So Diverse! Exploring the Capital C...,"I explore the Souqs of central Manama, Bahrain...",https://i.ytimg.com/vi/Fyy4dwGHf8o/hq720.jpg?s...,JASON BILLAM TRAVEL,16:29,1년 전,조회수 12만회
1,30007,1206763,bh,Manama,https://www.youtube.com/watch?v=p12R3BCfc-U,"Manama, 🇧🇭 Bahrain's Glamorous Capital City","Manama, the modern capital of the Arabian Gulf...",https://i.ytimg.com/vi/p12R3BCfc-U/hq720.jpg?s...,Adrian_travelling,5:04,1년 전,조회수 7.6만회
2,30007,1206763,bh,Manama,https://www.youtube.com/watch?v=OfGFOf0tYY8,Manama - Bahrain 2021 | Beauty of small countr...,Manama. The capital of Bahrain. It is the smal...,https://i.ytimg.com/vi/OfGFOf0tYY8/hq720.jpg?s...,Bald Guy,4:58,9개월 전,조회수 17만회
3,30007,1206763,bh,Manama,https://www.youtube.com/watch?v=Vp-IwVogLUY,Bahrain Travel & Food Guide 🇧🇭 Top Things To S...,Join us on a short tour around the city of Man...,https://i.ytimg.com/vi/Vp-IwVogLUY/hq720.jpg?s...,Growing Up Without Borders,12:18,3주 전,조회수 6.9만회
4,30007,1206763,bh,Manama,https://www.youtube.com/watch?v=Gxr8l72XMRI,Bahrain - Pearl on the persian gulf 4K,The Kingdom of Bahrain is a pearl in the persi...,https://i.ytimg.com/vi/Gxr8l72XMRI/hq720.jpg?s...,magroswelt,5:36,2년 전,조회수 85만회
...,...,...,...,...,...,...,...,...,...,...,...,...
59485,459419,3179591,cz,Lhotka,https://www.youtube.com/watch?v=SMb18UhsFHM,Czech Republic: 5 Incredible Places Beyond Pra...,Visiting the Czech Republic? Here are 5 incred...,https://i.ytimg.com/vi/SMb18UhsFHM/hq720.jpg?s...,Mike's Road Trip,3:37,3년 전,조회수 8.6천회
59486,459419,3179591,cz,Lhotka,https://www.youtube.com/watch?v=ipKEx9i0tew&pp...,체코를 여행하는 가장 좋은 방법 - 기차 정보,체코를 여행하는 가장 저렴하고 좋은 방법 중 하나는 기차입니다. 체코 공화국에는 광...,https://i.ytimg.com/vi/ipKEx9i0tew/hq720.jpg?s...,The Travel Vlogger,3:20,3년 전,조회수 8.1천회
59487,459419,3179591,cz,Lhotka,https://www.youtube.com/watch?v=rNMTvTYL9p4,"CZECH REPUBLIC 2021, WALKING AROUND PRAGUE","CZECH REPUBLIC 2021, WALKING AROUND PRAGUE, Pr...",https://i.ytimg.com/vi/rNMTvTYL9p4/hq720.jpg?s...,TRAVEL GIRL,10:41,1개월 전,조회수 2.3천회
59488,459419,3179591,cz,Lhotka,https://www.youtube.com/watch?v=EWzgJ7djdLM,"Travel guide for Prague, Czech Republic",It's time to immerse yourself in the beauty of...,https://i.ytimg.com/vi/EWzgJ7djdLM/hq720.jpg?s...,Firebird Tours,2:22,2년 전,조회수 324회
59489,459419,3179591,cz,Lhotka,https://www.youtube.com/watch?v=5FJUr-n6FRU&pp...,체코 생활의 장단점,체코는 종종 국제 사회에서 인기있는 여행지로 상위 10 위 안에 들었습니다. 체코가...,https://i.ytimg.com/vi/5FJUr-n6FRU/hq720.jpg?s...,Ready Go! Expat,7:54,5개월 전,조회수 2.3천회

In [16]:
# city_youtube_info 테이블
youtube_df.to_sql("city_youtube_info", engine_conn, if_exists='append', index=None)

In [8]:
# 바뀌는 개수 확인하기
movie_db_with_tite = pd.read_sql('SELECT * FROM maimovie_data_offers_with_title', engine_conn)
movie_db_list = pd.read_sql('SELECT * FROM maimovie_data_offers', engine_conn)

print("old_db_list :" , len(movie_db_list), "," ,
    "old_db_with_tite :", len(movie_db_with_tite))

print("new_data : ", len(upload_df1), ",",
      "new_data_with_title : ", len(upload_df2))

print("total_db_list :" ,len(movie_db_list)+len(upload_df1), "," ,
    "total_db_with_tite :",len(movie_db_with_tite)+len(upload_df2))

old_db_list : 35854 , old_db_with_tite : 35850
new_data :  75 , new_data_with_title :  75
total_db_list : 35929 , total_db_with_tite : 35925

In [9]:
# db에 새로운 데이터 업로드
upload_df1.to_sql("maimovie_data_offers", engine_conn, if_exists='append', index=None)
upload_df2.to_sql("maimovie_data_offers_with_title", engine_conn, if_exists='append', index=None)

engine_conn.close()
engine.dispose()

print("데이터 업로드 완료")

데이터 업로드 완료